{
	"$schema": "https://json.schemastore.org/swcrc",
	"exclude": "node_modules",
	"sourceMaps": true,
	"module": {
		"type": "commonjs"
	},
	"jsc": {
		"parser": {
			"tsx": false,
			"syntax": "typescript",
			"decorators": true
		},
		"target": "es2022",
		"keepClassNames": true,
		"transform": {
			"legacyDecorator": true,
			"decoratorMetadata": true
		}
	},
	
}
